.skills {
    &__grid {
        display: grid;
        position: relative;
        z-index: 5;
        max-width: 1200px;
        width: 100%;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: repeat(3, 1fr);

    }
}

@media only screen and (max-width:992px) {
    .skills {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @-moz-document url-prefix() {
        .skills {

            &__grid {
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }
}

@media only screen and (max-width:768px) {
    .skills {
        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}