#sidepanel {
    width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -500px;
    top: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #111111;
    transition: all 0.8s ease-in-out;
    padding: 40px 28px;

    .close {
        margin-left: auto;
    }

    a {
        display: block;
        margin-right: auto;
        max-width: 280px;
        color: rgba(255, 255, 255, 0.5);
        @include transition-3ms;
        padding-bottom: 20px;
        width: 100%;

        &:hover {
            @include color-white;
        }

        &:not(:last-of-type) {
            margin-bottom: 20px;
            border-bottom: solid 1px rgba(255, 255, 255, 0.25);
        }
    }

    &:target {
        right: 0;
    }
}