.main {
    position: relative;
    height: 80vh;
    width: 100%;

    &::after {
        @include bg-after;
        z-index: 2;
        opacity: 0.6;
        background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 80vh;
        width: 100%;
        z-index: -1;
    }

    &__wrapper {
        @include positionCenter;
        z-index: 3;
        @include color-white;
        @include text-center;
    }
}

.aboutMe {
    background-image: linear-gradient(rgba(206, 27, 40, 0.25),
            rgba(206, 27, 40, 0.25)),
        url(../../images/cta01.jpg);
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    height: 500px;
    @include text-center;
}

.skills {
    height: auto;
    max-height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 100px;

    &::after {
        @include bg-after;
        background-image: url('../images/bg.jpg');
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.05;
    }

    &__box {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 25px;

        &-i {
            i {
                &:not(:first-of-type) {
                    margin-left: 20px;
                }
            }
        }

        i {
            color: red;
            font-size: 50px;
            margin-bottom: 20px;
        }
    }
}

.contact {
    height: auto;
    max-height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    @include text-center;

    &::after {
        @include bg-after;
        background-image: url('../images/bg.jpg');
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.05;
        z-index: 100000;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5000;
    }

    &__box {
        width: 40%;
        background-color: white;
        padding: 30px 20px;
        z-index: ;

        i {
            color: red;
            font-size: 50px;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .aboutMe {
        background-image: linear-gradient(to right,
                rgba(142, 14, 0, 0.8),
                rgba(31, 28, 24, 0.8)),
            url('../../images/bg.jpg');
    }

    .skills,
    .contact {
        background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
    }
}

@media only screen and (max-width: 768px) {
    .contact {
        &__flex {
            flex-direction: column;
            align-items: center;
        }

        &__box {
            width: 70%;

            &:first-of-type {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .main {
        height: 60vh;

        &__video {
            height: 60vh;
        }
    }
}